body 
{
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}
.container 
{
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
h1 
{
	text-align: center;
	color: #333;
	margin: 20px;
}
.semester 
{
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	margin-bottom: 30px;
}
h2 
{
	margin-top: 0;
	margin-bottom: 15px;
	color: #555;
}
.subject 
{
	margin-bottom: 15px;
}
label 
{
	display: block;
	margin-bottom: 5px;
	color: #444;
}
select 
{
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
}
button 
{
	display: block;
	margin-top: 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
button:hover 
{
	background-color: #0056b3;
}
.result 
{
	font-size: 25px;
	font-weight: bold;
	color: #007bff;
	margin-top: 15px;
}
a:link, a:visited, a:hover, a:active 
{
  color: white;
  text-decoration: none;
}
.back_button
{
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
}